<%= form_with model: article do |form| %>
  <div>
    <%= form.label :artist %><br>
    <%= form.text_field :artist %>
    <% article.errors.full_messages_for(:artist).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :album %><br>
    <%= form.text_area :album %>
    <% article.errors.full_messages_for(:album).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :label %><br>
    <%= form.text_area :label %>
    <% article.errors.full_messages_for(:label).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :year %><br>
    <%= form.text_area :year %>
    <% article.errors.full_messages_for(:year).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :reviewer %><br>
    <%= form.text_area :reviewer %>
    <% article.errors.full_messages_for(:reviewer).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :review_date %><br>
    <%= form.text_area :review_date %>
    <% article.errors.full_messages_for(:review_date).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :score %><br>
    <%= form.text_area :score %>
    <% article.errors.full_messages_for(:score).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>