<h1>BEST Albums</h1>

<button class="button button1"><%= link_to "Albums", albums_path %></button>
<button class="button button1"><%= link_to "Artists", artists_path %></button>
<button class="button button1"><%= link_to "Scores", scores_path %></button>


<table>
  <tr>
    <th>Artist</th>
    <th>Album</th>
    <th>Label</th>
    <th>Year</th>
    <th>Reviewer</th>
    <th>Review_date</th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= link_to article.artist.name, article %></td>
    <td><%= article.album.title %></td>
    <td><%= article.label %></td>
    <td><%= article.year %></td>
    <td><%= article.reviewer %></td>
    <td><%= article.review_date %></td>
  </tr>
<% end %>
</table>

<br>
<button class="button button1"><%= link_to "New Article", new_article_path %></button>
