<%= form_with model: @article do |form| %>
  <div>
    <%= form.label :artist_id %><br>
    <%= form.text_field :artist_id %>
  </div>

  <div>
    <%= form.label :album_id %><br>
    <%= form.text_area :album_id %>
  </div>

  <div>
    <%= form.label :label %><br>
    <%= form.text_area :label %>
  </div>

  <div>
    <%= form.label :year %><br>
    <%= form.text_area :year %>
  </div>

  <div>
    <%= form.label :reviewer %><br>
    <%= form.text_area :reviewer %>
  </div>

  <div>
    <%= form.label :review_date %><br>
    <%= form.text_area :review_date %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>