<h1><%= @article.artist %></h1>

<p><%= @article.album %></p>
<p><%= @article.year %></p>
<p><%= @article.reviewer %></p>
<p><%= @article.review_date %></p>
<p><%= @article.score %></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>